extends ../../layouts/default.pug
include ../../mixins/noPermission.pug
include ../../mixins/moment.pug

block main 
  if(userRole.permissions.includes("products_view"))
    .container-fluid.px-4.py-5
      .row
        .col-12
          h1.text-center.mb-4 Thông Tin Chi Tiết Sản Phẩm
          
          .card.shadow-sm
            .card-body
              .row
                .col-lg-4.mb-4.mb-lg-0
                  .image-container.rounded.overflow-hidden(style="height: 400px;")
                    img.img-fluid.w-100.h-100.object-fit-cover(src=product.thumbnail, alt=product.title)
                
                .col-lg-8
                  h2.card-title.mb-4= product.title
                  
                  .row
                    .col-md-6
                      .mb-3
                        span.text-muted Giá:
                        strong.ms-2.text-primary= `${product.price}$`
                      
                      .mb-3
                        span.text-muted Giảm giá:
                        strong.ms-2.text-success= `${product.discountPercentage}%`
                      
                      .mb-3
                        span.text-muted Còn lại:
                        strong.ms-2= product.stock
                      
                      .mb-3
                        span.text-muted Trạng thái:
                        if product.status == 'active'
                          strong.ms-2.text-success Hoạt động
                        else if product.status == 'inactive'
                          strong.ms-2.text-danger Dừng hoạt động
                        else
                          strong.ms-2.text-warning Không rõ
                      
                      .mb-3
                        span.text-muted Vị trí:
                        strong.ms-2= product.position

                    .col-md-6
                      .mb-3
                        strong.text-muted Người tạo:
                        .mt-1
                          = product.createdBy.userFullName
                          small.text-muted.ms-2
                            +formatDateTime(product.createdBy.createdAt)
                      
                      if product.updatedBy.length > 0
                        .mb-3
                          strong.text-muted Cập nhật gần đây:
                          each updater in product.updatedBy.slice(-3).reverse()
                            .mt-1
                              = updater.userFullName
                              small.text-muted.ms-2
                                +formatDateTime(updater.updatedAt)
                  
                  .mt-4
                    h5.text-muted Mô tả
                    p.mb-0 !{product.description}
              
              .text-center.mt-4
                a.btn.btn-primary.btn-lg(href=`${prefixAdmin}/products/edit/${product.id}`)
                  i.fas.fa-edit.me-2
                  | Chỉnh sửa sản phẩm
  else
    +noPermission("Bạn không có quyền truy cập chức năng này!")