include ../mixins/sub-menu.pug

.header.header
    .container
        .inner-logo
            a(href="/")
                img(src=generalSetting.logo alt=generalSetting.websiteName)
        .inner-menu
            ul
                li
                    a(href="/") Trang chủ 
                li(class="sub-menu")
                    - const path = "/products"
                    a(href=path) Sản phẩm
                        +sub-menu(categories, path)
                li 
                    a(href="/cart")  Giỏ hàng(#{miniCart ? miniCart.totalQuantity : 0 }) 
                if(user)
                    li 
                        a(href="/user/logout") Đăng xuất
                else
                    li 
                        a(href="/user/login") Đăng nhập
                    li 
                        a(href="/user/register") Đăng ký
        .inner-search.ml-auto
            form.form-inline(
                action="/search"
                method="GET"
            )
                .input-group
                    input.form-control(
                        type="text"
                        placeholder="Nhập từ khóa"
                        name="keyword"
                        value=keyword
                    )
                    .input-group-append
                        button.btn.btn-primary(
                            type="submit"
                        ) Tìm
            
