extends ../../layouts/default.pug
include ../../mixins/noPermission.pug
include ../../mixins/moment.pug

block main 
  if(userRole.permissions.includes("roles_view"))
    .container
      .row
        .col-md-12
          h1.text-center Chi Tiết Nhóm Quyền
          hr

      .row.justify-content-center
        .col-md-6
          .card.mb-3
            .card-header Thông Tin Nhóm Quyền
            .card-body
              dl.row.dl-horizontal
                dt.col-sm-4 Tiêu đề
                dd.col-sm-8= role.title

                dt.col-sm-4 Mô tả
                dd.col-sm-8 !{role.description}

                dt.col-sm-4 Người tạo
                dd.col-sm-8
                  div
                    strong= role.createdBy.userFullName
                    |  (
                    +formatDateTime(role.createdBy.createdAt)
                    |  )
                dt.col-sm-4 Người cập nhật
                dd.col-sm-8
                  - const recentUpdaters = role.updatedBy.slice().reverse()
                  if recentUpdaters.length > 0
                    each updater in recentUpdaters
                      div
                        strong= updater.userFullName
                        |  (
                        +formatDateTime(updater.updatedAt)
                        |  )
                  else
                    | Không có thông tin cập nhật

      .row
        .col-md-12.text-center
          a.btn.btn-primary(href=`${prefixAdmin}/roles/edit/${role.id}`) Chỉnh sửa nhóm quyền
  else
    +noPermission("Bạn không có quyền truy cập chức năng này!") 