mixin search(keyword, placeholderText)
    form(id="form-search")
        .input-group 
            input(
            type="text"
            placeholder=placeholderText
            name="keyword"
            value = keyword
            class="form-control"
            )
            .input-group-append 
                button(
                    class="btn btn-success"
                    type="submit"
                ) Tìm