extends ../../layouts/default.pug
include ../../mixins/moment.pug

block main
    .container.my-3 
        .row 
            .col-12 
                h1 Chi tiết đơn hàng

        if(order)
            .row 
                .col-md-6 
                    h4(class="mb-2") Thông tin khách hàng 
                    table(class="table table-bordered")
                        tbody 
                            tr 
                                td Họ tên 
                                td 
                                    b #{order.userInfo.fullName}
                            tr 
                                td Số điện thoại 
                                td 
                                    b #{order.userInfo.phone}
                            tr 
                                td Địa chỉ
                                td 
                                    b #{order.userInfo.address}
                            tr 
                                td Thời gian đặt hàng
                                td 
                                    b 
                                        +formatDateTime(order.createdAt)
                
                .col-md-6
                    h4(class="mb-2") Trạng thái đơn hàng
                    table(class="table table-bordered")
                        tbody
                            tr
                                td Trạng thái hiện tại
                                td
                                    b  
                                        case order.status
                                            when 'pending'
                                                span Đợi xác nhận
                                            when 'confirmed'
                                                span Đã xác nhận
                                            when 'shipping'
                                                span Vận chuyển
                                            when 'completed'
                                                span Hoàn thành
                                            when 'cancelled'
                                                span Đã hủy
                            tr
                                td Người cập nhật cuối
                                td
                                    b #{order.updatedBy ? order.updatedBy.fullName : 'N/A'}
                            tr
                                td Thời gian cập nhật cuối
                                td
                                    b 
                                        +formatDateTime(order.updatedAt) 
                            tr
                                td Cập nhật trạng thái
                                td
                                    form(action=`/admin/orders/update-status/${order._id}?_method=PATCH`  method="POST")
                                        select(name="status" class="form-control")
                                            option(value="pending" selected=order.status === "pending") Đợi xác nhận 
                                            option(value="confirmed" selected=order.status === "confirmed") Đã xác nhận
                                            option(value="shipping" selected=order.status === "shipping") Đang giao hàng
                                            option(value="delivered" selected=order.status === "completed") Hoàn thành
                                            option(value="cancelled" selected=order.status === "cancelled") Đã hủy
                                        button(type="submit" class="btn btn-primary mt-2") Cập nhật

            .row 
                .col-12 
                    h4(class="mb-2") Thông tin đơn hàng 
                    table(class="table table-bordered")
                        thead 
                            tr 
                                th STT 
                                th Ảnh 
                                th Tên 
                                th Giá
                                th Số lượng 
                                th Tổng tiền 
                        tbody 
                            each product, index in order.products
                                tr
                                    td= index + 1 
                                    td 
                                        img(src=product.productInfo.thumbnail, alt=product.productInfo.title width="80px")
                                    td #{product.productInfo.title}
                                    td #{product.newPrice}$
                                    td #{product.quantity}
                                    td #{product.totalProductPrice}$
                    h3(class="text-right mt-3") Tổng đơn hàng: #{order.totalOrderPrice}$