extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/pagination.pug
include ../../mixins/search.pug

block main
    +alert-success("5000")
    +alert-error("5000")

    .container-fluid
        .row
            .col-12
                h1 Danh sách đơn hàng
                .card.mb-3 
                    .card-header Cập nhật trạng thái và Tìm kiếm 
                    .card-body 
                        .row
                            .col-6
                                form(
                                    action= `${prefixAdmin}/orders/update-status-orders?_method=PATCH`
                                    method="POST"
                                    form-update-status-orders 
                                )
                                    .d-flex.align-items-start 
                                        .form-group 
                                            select(name="status" class="form-control")
                                                option(disabled selected) -- Cập nhật trạng thái --
                                                if (userRole.permissions.includes(`orders_edit`))
                                                    option(value="pending") Đợi xác nhận
                                                    option(value="confirmed") Đã xác nhận 
                                                    option(value="shipping") Vận chuyển
                                                    option(value="completed") Hoàn thành
                                                    option(value="cancelled") Hủy đơn
                                        .form-group 
                                            input(
                                                type="text"
                                                name="ids"
                                                value=""
                                                class="form-control d-none"
                                            )  
                                        button(type="submit" class="btn btn-primary") Cập nhật
                            .col-6 
                                +search(keyword, "Nhập mã đơn hàng")

                .card.mb-3
                    .card-header
                        h5 Danh sách

                    .card-body
                        ul.nav.nav-tabs.mb-3
                            li.nav-item
                                a.nav-link.font-weight-bold(class=!status ? 'active text-primary' : 'text-dark', href="/admin/orders") Tất cả
                            li.nav-item
                                a.nav-link.font-weight-bold(class=status === 'pending' ? 'active text-primary' : 'text-dark', href="?status=pending") Đợi xác nhận
                            li.nav-item
                                a.nav-link.font-weight-bold(class=status === 'confirmed' ? 'active text-primary' : 'text-dark', href="?status=confirmed") Đã xác nhận
                            li.nav-item
                                a.nav-link.font-weight-bold(class=status === 'shipping' ? 'active text-primary' : 'text-dark', href="?status=shipping") Vận chuyển
                            li.nav-item
                                a.nav-link.font-weight-bold(class=status === 'completed' ? 'active text-primary' : 'text-dark', href="?status=completed") Hoàn thành
                            li.nav-item
                                a.nav-link.font-weight-bold(class=status === 'cancelled' ? 'active text-primary' : 'text-dark', href="?status=cancelled") Đã hủy

                        table(
                            class="table table-hover table-sm"
                            checkbox-multi
                        )
                            thead
                                tr
                                    th 
                                        input(type="checkbox" name="checkall")
                                    th STT
                                    th Khách hàng
                                    th Điện thoại
                                    th Sản phẩm
                                    th Tổng tiền
                                    th Trạng thái
                                    th Hành động

                            tbody
                                each order, index in orders
                                    tr
                                        td
                                           input(
                                                type="checkbox" 
                                                name="id"
                                                value=order.id
                                                )
                                        td #{index + 1}
                                        td= order.userInfo.fullName
                                        td= order.userInfo.phone
                                        td
                                            ul.list-unstyled.product-list
                                                each product in order.products
                                                    li
                                                    strong #{product.productInfo.title}
                                                    br
                                                    |X #{product.quantity} #{product.newPrice}$ 
                                        td #{order.totalOrderPrice}
                                        td
                                            case order.status
                                                when 'pending'
                                                    span.badge.badge-warning Đợi xác nhận
                                                when 'confirmed'
                                                    span.badge.badge-info Đã xác nhận
                                                when 'shipping'
                                                    span.badge.badge-primary Vận chuyển
                                                when 'completed'
                                                    span.badge.badge-success Hoàn thành
                                                when 'cancelled'
                                                    span.badge.badge-danger Đã hủy
                                        td
                                            a(
                                                href=`${prefixAdmin}/orders/detail/${order.id}`
                                                class="btn btn-secondary btn-sm"
                                            ) Chi tiết
        +pagination(pagination)

    script(src="/admin/js/order.js")