mixin products-grid(products)
    .row 
        each item in products
            .col-3.mb-3 
                a(href = `/products/detail/${item.slug}`) 
                    .product-item(class=(item.stock === 0 ? 'out-of-stock' : '')) 
                        .inner-image 
                            img(src=item.thumbnail alt=item.title)
                            if(item.featured == "1")
                                .inner-featured Nổi bật
                            if(item.stock === 0)
                                .out-of-stock-label 
                                    span Hết hàng
                        .inner-content 
                            h3.inner-title #{item.title}
                            .inner-price-new #{item.newPrice}$
                            if(item.price)
                                .inner-price-old #{item.price}$
                            if(item.discountPercentage)
                                .inner-discount #{-item.discountPercentage}%
