extends ../../layouts/default.pug

block main 
    h1 Trang tổng quan

    .row.mt-4 
        .col-12 
            .card.mb-4 
                .card-header Thông tin tài khoản 
                .card-body 
                    if(user.avatar)
                        img(src=user.avatar
                        style="height: 100px; margin-bottom: 15px;"
                        )
                    if(user.fullName)
                        p Họ tên: <b>#{user.fullName}</b>
                    if(user.email)
                        p Email: <b>#{user.email}</b>
                    if(user.phone)
                        p Số điện thoại: <b>#{user.phone}</b>
                    if(userRole.title)
                        p Phân quyền: <b>#{userRole.title}</b>
        
        .col-6 
            .card.mb-4 
                .card-header Danh mục sản phẩm
                .card-body 
                    p Số lượng: <b>#{statistic.productCategory.total}</b>
                    p Hoạt động: <b>#{statistic.productCategory.active}</b>
                    p Dừng hoạt động: <b>#{statistic.productCategory.inactive}</b>

        .col-6 
            .card.mb-4 
                .card-header Sản phẩm
                .card-body 
                    p Số lượng: <b>#{statistic.product.total}</b>
                    p Hoạt động: <b>#{statistic.product.active}</b>
                    p Dừng hoạt động: <b>#{statistic.product.inactive}</b>

        .col-6 
            .card.mb-4 
                .card-header Tài khoản admin
                .card-body 
                    p Số lượng: <b>#{statistic.account.total}</b>
                    p Hoạt động: <b>#{statistic.account.active}</b>
                    p Dừng hoạt động: <b>#{statistic.account.inactive}</b>

        .col-6 
            .card.mb-4 
                .card-header Tài khoản client
                .card-body 
                    p Số lượng: <b>#{statistic.user.total}</b>
                    p Hoạt động: <b>#{statistic.user.active}</b>
                    p Dừng hoạt động: <b>#{statistic.user.inactive}</b>
        .col-6 
            .card.mb-4 
                .card-header Đơn hàng
                .card-body 
                    p Tổng số đơn hàng: <b>#{statistic.order.total}</b>
                    p Đợi xác nhận: <b>#{statistic.order.pending}</b>
                    p Đã xác nhận: <b>#{statistic.order.confirmed}</b>
                    p Vân chuyển: <b>#{statistic.order.shipping}</b>
                    p Hoàn thành: <b>#{statistic.order.completed}</b>
                    p Đã hủy: <b>#{statistic.order.cancelled}</b>